<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>m002</key>
			<dict/>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Master Icon Glyph Name</string>
			<key>value</key>
			<string>A</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m002</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>60</integer>
	<key>com.schriftgestaltung.gridSubDivision</key>
	<integer>12</integer>
	<key>com.schriftgestaltung.master.name</key>
	<string>Master</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Agrave</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Ograve</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>A.short</string>
		<string>E.short</string>
		<string>I.short</string>
		<string>N.short</string>
		<string>O.short</string>
		<string>U.short</string>
		<string>A.strip</string>
		<string>Aacute.strip</string>
		<string>Acircumflex.strip</string>
		<string>Agrave.strip</string>
		<string>B.strip</string>
		<string>C.strip</string>
		<string>D.strip</string>
		<string>E.strip</string>
		<string>Eacute.strip</string>
		<string>Ecircumflex.strip</string>
		<string>Edieresis.strip</string>
		<string>Egrave.strip</string>
		<string>F.strip</string>
		<string>G.strip</string>
		<string>H.strip</string>
		<string>I.strip</string>
		<string>Iacute.strip</string>
		<string>Icircumflex.strip</string>
		<string>Igrave.strip</string>
		<string>J.strip</string>
		<string>K.strip</string>
		<string>L.strip</string>
		<string>M.strip</string>
		<string>N.strip</string>
		<string>Ntilde.strip</string>
		<string>O.strip</string>
		<string>Oacute.strip</string>
		<string>Ocircumflex.strip</string>
		<string>Ograve.strip</string>
		<string>P.strip</string>
		<string>Q.strip</string>
		<string>R.strip</string>
		<string>S.strip</string>
		<string>T.strip</string>
		<string>U.strip</string>
		<string>Uacute.strip</string>
		<string>Ucircumflex.strip</string>
		<string>Ugrave.strip</string>
		<string>V.strip</string>
		<string>W.strip</string>
		<string>X.strip</string>
		<string>Y.strip</string>
		<string>Z.strip</string>
		<string>A.stripe</string>
		<string>Aacute.stripe</string>
		<string>Acircumflex.stripe</string>
		<string>Agrave.stripe</string>
		<string>B.stripe</string>
		<string>C.stripe</string>
		<string>D.stripe</string>
		<string>E.stripe</string>
		<string>Eacute.stripe</string>
		<string>Ecircumflex.stripe</string>
		<string>Edieresis.stripe</string>
		<string>Egrave.stripe</string>
		<string>F.stripe</string>
		<string>G.stripe</string>
		<string>H.stripe</string>
		<string>I.stripe</string>
		<string>Iacute.stripe</string>
		<string>Icircumflex.stripe</string>
		<string>Igrave.stripe</string>
		<string>J.stripe</string>
		<string>K.stripe</string>
		<string>L.stripe</string>
		<string>M.stripe</string>
		<string>N.stripe</string>
		<string>Ntilde.stripe</string>
		<string>O.stripe</string>
		<string>Oacute.stripe</string>
		<string>Ocircumflex.stripe</string>
		<string>Ograve.stripe</string>
		<string>P.stripe</string>
		<string>Q.stripe</string>
		<string>R.stripe</string>
		<string>S.stripe</string>
		<string>T.stripe</string>
		<string>U.stripe</string>
		<string>Uacute.stripe</string>
		<string>Ucircumflex.stripe</string>
		<string>Ugrave.stripe</string>
		<string>V.stripe</string>
		<string>W.stripe</string>
		<string>X.stripe</string>
		<string>Y.stripe</string>
		<string>Z.stripe</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.strip</string>
		<string>one.strip</string>
		<string>two.strip</string>
		<string>three.strip</string>
		<string>four.strip</string>
		<string>five.strip</string>
		<string>six.strip</string>
		<string>seven.strip</string>
		<string>eight.strip</string>
		<string>nine.strip</string>
		<string>zero.stripe</string>
		<string>one.stripe</string>
		<string>two.stripe</string>
		<string>three.stripe</string>
		<string>four.stripe</string>
		<string>five.stripe</string>
		<string>six.stripe</string>
		<string>seven.stripe</string>
		<string>eight.stripe</string>
		<string>nine.stripe</string>
		<string>.notdef</string>
		<string>space</string>
		<string>space.ss01</string>
		<string>space.ss02</string>
		<string>space.strip</string>
		<string>space.stripe</string>
		<string>space.ss01.strip</string>
		<string>space.ss01.stripe</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>period.strip</string>
		<string>comma.strip</string>
		<string>colon.strip</string>
		<string>semicolon.strip</string>
		<string>period.stripe</string>
		<string>comma.stripe</string>
		<string>colon.stripe</string>
		<string>semicolon.stripe</string>
		<string>hyphen</string>
		<string>hyphen.strip</string>
		<string>hyphen.stripe</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleft.strip</string>
		<string>parenright.strip</string>
		<string>parenleft.stripe</string>
		<string>parenright.stripe</string>
		<string>ampersand</string>
		<string>copyright</string>
		<string>ampersand.strip</string>
		<string>copyright.strip</string>
		<string>ampersand.stripe</string>
		<string>copyright.stripe</string>
		<string>dieresiscomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>circumflexcomb</string>
		<string>tildecomb</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>_segment.end</string>
		<string>_part.horizontal</string>
		<string>_part.vertical</string>
		<string>.notdef.strip</string>
		<string>.notdef.stripe</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>A.short</string>
		<string>E.short</string>
		<string>I.short</string>
		<string>N.short</string>
		<string>O.short</string>
		<string>U.short</string>
		<string>A.strip</string>
		<string>Aacute.strip</string>
		<string>Acircumflex.strip</string>
		<string>Agrave.strip</string>
		<string>B.strip</string>
		<string>C.strip</string>
		<string>D.strip</string>
		<string>E.strip</string>
		<string>Eacute.strip</string>
		<string>Ecircumflex.strip</string>
		<string>Edieresis.strip</string>
		<string>Egrave.strip</string>
		<string>F.strip</string>
		<string>G.strip</string>
		<string>H.strip</string>
		<string>I.strip</string>
		<string>Iacute.strip</string>
		<string>Icircumflex.strip</string>
		<string>Igrave.strip</string>
		<string>J.strip</string>
		<string>K.strip</string>
		<string>L.strip</string>
		<string>M.strip</string>
		<string>N.strip</string>
		<string>Ntilde.strip</string>
		<string>O.strip</string>
		<string>Oacute.strip</string>
		<string>Ocircumflex.strip</string>
		<string>Ograve.strip</string>
		<string>P.strip</string>
		<string>Q.strip</string>
		<string>R.strip</string>
		<string>S.strip</string>
		<string>T.strip</string>
		<string>U.strip</string>
		<string>Uacute.strip</string>
		<string>Ucircumflex.strip</string>
		<string>Ugrave.strip</string>
		<string>V.strip</string>
		<string>W.strip</string>
		<string>X.strip</string>
		<string>Y.strip</string>
		<string>Z.strip</string>
		<string>A.stripe</string>
		<string>Aacute.stripe</string>
		<string>Acircumflex.stripe</string>
		<string>Agrave.stripe</string>
		<string>B.stripe</string>
		<string>C.stripe</string>
		<string>D.stripe</string>
		<string>E.stripe</string>
		<string>Eacute.stripe</string>
		<string>Ecircumflex.stripe</string>
		<string>Edieresis.stripe</string>
		<string>Egrave.stripe</string>
		<string>F.stripe</string>
		<string>G.stripe</string>
		<string>H.stripe</string>
		<string>I.stripe</string>
		<string>Iacute.stripe</string>
		<string>Icircumflex.stripe</string>
		<string>Igrave.stripe</string>
		<string>J.stripe</string>
		<string>K.stripe</string>
		<string>L.stripe</string>
		<string>M.stripe</string>
		<string>N.stripe</string>
		<string>Ntilde.stripe</string>
		<string>O.stripe</string>
		<string>Oacute.stripe</string>
		<string>Ocircumflex.stripe</string>
		<string>Ograve.stripe</string>
		<string>P.stripe</string>
		<string>Q.stripe</string>
		<string>R.stripe</string>
		<string>S.stripe</string>
		<string>T.stripe</string>
		<string>U.stripe</string>
		<string>Uacute.stripe</string>
		<string>Ucircumflex.stripe</string>
		<string>Ugrave.stripe</string>
		<string>V.stripe</string>
		<string>W.stripe</string>
		<string>X.stripe</string>
		<string>Y.stripe</string>
		<string>Z.stripe</string>
		<string>zero.strip</string>
		<string>one.strip</string>
		<string>two.strip</string>
		<string>three.strip</string>
		<string>four.strip</string>
		<string>five.strip</string>
		<string>six.strip</string>
		<string>seven.strip</string>
		<string>eight.strip</string>
		<string>nine.strip</string>
		<string>zero.stripe</string>
		<string>one.stripe</string>
		<string>two.stripe</string>
		<string>three.stripe</string>
		<string>four.stripe</string>
		<string>five.stripe</string>
		<string>six.stripe</string>
		<string>seven.stripe</string>
		<string>eight.stripe</string>
		<string>nine.stripe</string>
		<string>space.strip</string>
		<string>space.stripe</string>
		<string>space.ss01.strip</string>
		<string>space.ss01.stripe</string>
		<string>period.strip</string>
		<string>comma.strip</string>
		<string>colon.strip</string>
		<string>semicolon.strip</string>
		<string>period.stripe</string>
		<string>comma.stripe</string>
		<string>colon.stripe</string>
		<string>semicolon.stripe</string>
		<string>hyphen.strip</string>
		<string>hyphen.stripe</string>
		<string>parenleft.strip</string>
		<string>parenright.strip</string>
		<string>parenleft.stripe</string>
		<string>parenright.stripe</string>
		<string>ampersand.strip</string>
		<string>copyright.strip</string>
		<string>ampersand.stripe</string>
		<string>copyright.stripe</string>
		<string>dieresiscomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>circumflexcomb</string>
		<string>tildecomb</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>_segment.end</string>
		<string>_part.horizontal</string>
		<string>_part.vertical</string>
		<string>.notdef.strip</string>
		<string>.notdef.stripe</string>
	</array>
</dict>
</plist>
