<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.notdef.strip</key>
	<string>_notdef.strip.glif</string>
	<key>.notdef.stripe</key>
	<string>_notdef.stripe.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.short</key>
	<string>A_.short.glif</string>
	<key>A.strip</key>
	<string>A_.strip.glif</string>
	<key>A.stripe</key>
	<string>A_.stripe.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.strip</key>
	<string>A_acute.strip.glif</string>
	<key>Aacute.stripe</key>
	<string>A_acute.stripe.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.strip</key>
	<string>A_circumflex.strip.glif</string>
	<key>Acircumflex.stripe</key>
	<string>A_circumflex.stripe.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.strip</key>
	<string>A_grave.strip.glif</string>
	<key>Agrave.stripe</key>
	<string>A_grave.stripe.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.strip</key>
	<string>B_.strip.glif</string>
	<key>B.stripe</key>
	<string>B_.stripe.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.strip</key>
	<string>C_.strip.glif</string>
	<key>C.stripe</key>
	<string>C_.stripe.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.strip</key>
	<string>D_.strip.glif</string>
	<key>D.stripe</key>
	<string>D_.stripe.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.short</key>
	<string>E_.short.glif</string>
	<key>E.strip</key>
	<string>E_.strip.glif</string>
	<key>E.stripe</key>
	<string>E_.stripe.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.strip</key>
	<string>E_acute.strip.glif</string>
	<key>Eacute.stripe</key>
	<string>E_acute.stripe.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.strip</key>
	<string>E_circumflex.strip.glif</string>
	<key>Ecircumflex.stripe</key>
	<string>E_circumflex.stripe.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.strip</key>
	<string>E_dieresis.strip.glif</string>
	<key>Edieresis.stripe</key>
	<string>E_dieresis.stripe.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.strip</key>
	<string>E_grave.strip.glif</string>
	<key>Egrave.stripe</key>
	<string>E_grave.stripe.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.strip</key>
	<string>F_.strip.glif</string>
	<key>F.stripe</key>
	<string>F_.stripe.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.strip</key>
	<string>G_.strip.glif</string>
	<key>G.stripe</key>
	<string>G_.stripe.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.strip</key>
	<string>H_.strip.glif</string>
	<key>H.stripe</key>
	<string>H_.stripe.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.short</key>
	<string>I_.short.glif</string>
	<key>I.strip</key>
	<string>I_.strip.glif</string>
	<key>I.stripe</key>
	<string>I_.stripe.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.strip</key>
	<string>I_acute.strip.glif</string>
	<key>Iacute.stripe</key>
	<string>I_acute.stripe.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.strip</key>
	<string>I_circumflex.strip.glif</string>
	<key>Icircumflex.stripe</key>
	<string>I_circumflex.stripe.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.strip</key>
	<string>I_grave.strip.glif</string>
	<key>Igrave.stripe</key>
	<string>I_grave.stripe.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.strip</key>
	<string>J_.strip.glif</string>
	<key>J.stripe</key>
	<string>J_.stripe.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.strip</key>
	<string>K_.strip.glif</string>
	<key>K.stripe</key>
	<string>K_.stripe.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.strip</key>
	<string>L_.strip.glif</string>
	<key>L.stripe</key>
	<string>L_.stripe.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.strip</key>
	<string>M_.strip.glif</string>
	<key>M.stripe</key>
	<string>M_.stripe.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.short</key>
	<string>N_.short.glif</string>
	<key>N.strip</key>
	<string>N_.strip.glif</string>
	<key>N.stripe</key>
	<string>N_.stripe.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.strip</key>
	<string>N_tilde.strip.glif</string>
	<key>Ntilde.stripe</key>
	<string>N_tilde.stripe.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.short</key>
	<string>O_.short.glif</string>
	<key>O.strip</key>
	<string>O_.strip.glif</string>
	<key>O.stripe</key>
	<string>O_.stripe.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.strip</key>
	<string>O_acute.strip.glif</string>
	<key>Oacute.stripe</key>
	<string>O_acute.stripe.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.strip</key>
	<string>O_circumflex.strip.glif</string>
	<key>Ocircumflex.stripe</key>
	<string>O_circumflex.stripe.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.strip</key>
	<string>O_grave.strip.glif</string>
	<key>Ograve.stripe</key>
	<string>O_grave.stripe.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.strip</key>
	<string>P_.strip.glif</string>
	<key>P.stripe</key>
	<string>P_.stripe.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.strip</key>
	<string>Q_.strip.glif</string>
	<key>Q.stripe</key>
	<string>Q_.stripe.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.strip</key>
	<string>R_.strip.glif</string>
	<key>R.stripe</key>
	<string>R_.stripe.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.strip</key>
	<string>S_.strip.glif</string>
	<key>S.stripe</key>
	<string>S_.stripe.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.strip</key>
	<string>T_.strip.glif</string>
	<key>T.stripe</key>
	<string>T_.stripe.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.short</key>
	<string>U_.short.glif</string>
	<key>U.strip</key>
	<string>U_.strip.glif</string>
	<key>U.stripe</key>
	<string>U_.stripe.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.strip</key>
	<string>U_acute.strip.glif</string>
	<key>Uacute.stripe</key>
	<string>U_acute.stripe.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.strip</key>
	<string>U_circumflex.strip.glif</string>
	<key>Ucircumflex.stripe</key>
	<string>U_circumflex.stripe.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.strip</key>
	<string>U_grave.strip.glif</string>
	<key>Ugrave.stripe</key>
	<string>U_grave.stripe.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.strip</key>
	<string>V_.strip.glif</string>
	<key>V.stripe</key>
	<string>V_.stripe.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.strip</key>
	<string>W_.strip.glif</string>
	<key>W.stripe</key>
	<string>W_.stripe.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.strip</key>
	<string>X_.strip.glif</string>
	<key>X.stripe</key>
	<string>X_.stripe.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.strip</key>
	<string>Y_.strip.glif</string>
	<key>Y.stripe</key>
	<string>Y_.stripe.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.strip</key>
	<string>Z_.strip.glif</string>
	<key>Z.stripe</key>
	<string>Z_.stripe.glif</string>
	<key>_part.horizontal</key>
	<string>_part.horizontal.glif</string>
	<key>_part.vertical</key>
	<string>_part.vertical.glif</string>
	<key>_segment.end</key>
	<string>_segment.end.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.strip</key>
	<string>ampersand.strip.glif</string>
	<key>ampersand.stripe</key>
	<string>ampersand.stripe.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.strip</key>
	<string>colon.strip.glif</string>
	<key>colon.stripe</key>
	<string>colon.stripe.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.strip</key>
	<string>comma.strip.glif</string>
	<key>comma.stripe</key>
	<string>comma.stripe.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>copyright.strip</key>
	<string>copyright.strip.glif</string>
	<key>copyright.stripe</key>
	<string>copyright.stripe.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.strip</key>
	<string>eight.strip.glif</string>
	<key>eight.stripe</key>
	<string>eight.stripe.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.strip</key>
	<string>five.strip.glif</string>
	<key>five.stripe</key>
	<string>five.stripe.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.strip</key>
	<string>four.strip.glif</string>
	<key>four.stripe</key>
	<string>four.stripe.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.strip</key>
	<string>hyphen.strip.glif</string>
	<key>hyphen.stripe</key>
	<string>hyphen.stripe.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.strip</key>
	<string>nine.strip.glif</string>
	<key>nine.stripe</key>
	<string>nine.stripe.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.strip</key>
	<string>one.strip.glif</string>
	<key>one.stripe</key>
	<string>one.stripe.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.strip</key>
	<string>parenleft.strip.glif</string>
	<key>parenleft.stripe</key>
	<string>parenleft.stripe.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.strip</key>
	<string>parenright.strip.glif</string>
	<key>parenright.stripe</key>
	<string>parenright.stripe.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.strip</key>
	<string>period.strip.glif</string>
	<key>period.stripe</key>
	<string>period.stripe.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.strip</key>
	<string>semicolon.strip.glif</string>
	<key>semicolon.stripe</key>
	<string>semicolon.stripe.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.strip</key>
	<string>seven.strip.glif</string>
	<key>seven.stripe</key>
	<string>seven.stripe.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.strip</key>
	<string>six.strip.glif</string>
	<key>six.stripe</key>
	<string>six.stripe.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.ss01</key>
	<string>space.ss01.glif</string>
	<key>space.ss01.strip</key>
	<string>space.ss01.strip.glif</string>
	<key>space.ss01.stripe</key>
	<string>space.ss01.stripe.glif</string>
	<key>space.ss02</key>
	<string>space.ss02.glif</string>
	<key>space.strip</key>
	<string>space.strip.glif</string>
	<key>space.stripe</key>
	<string>space.stripe.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.strip</key>
	<string>three.strip.glif</string>
	<key>three.stripe</key>
	<string>three.stripe.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.strip</key>
	<string>two.strip.glif</string>
	<key>two.stripe</key>
	<string>two.stripe.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.strip</key>
	<string>zero.strip.glif</string>
	<key>zero.stripe</key>
	<string>zero.stripe.glif</string>
</dict>
</plist>
